@model KWFCI.Models.ViewModels.MessageVM

@{
    ViewBag.Title = "Messages";
}

<h1 class="text-center" style="margin-bottom:70px;">Messages</h1>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Body</th>
                    <th>Date Sent</th>
                    <th>From</th>

                </tr>
            </thead>
            <tbody>
                @foreach (Message m in Model.Messages)
                {
                    <tr>
                        <th>@m.Subject</th>
                        <th>@m.Body</th>
                        <th>@m.DateSent</th>
                        <th>@m.From.FirstName @m.From.LastName</th>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("_AddMessageModal",Model.NewMessage)

    </div>
</div>

<style>
    table, tr, th {
        border: 1px solid black;
    }
</style>