@model KWFCI.Models.ViewModels.InteractionVM

@{
    ViewBag.Title = "Interactions";
}

<div class="row">
    <div class="col-xs-12">
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Staff</th>
                    <th>Notes</th>
                    <th>Date</th>
                    <th>Next Step</th>
                    <th>Broker</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Interaction a in Model.Interactions)
                {
                    <tr>
                        <th>@ViewBag.StaffEmail</th>
                        <th class="mw-50p"><a href="#" class="inactive" data-toggle="modal" data-target="#newInteraction">
                            @if(a.Notes != null)
                            {
                                @a.Notes
                            }
                            else
                            {
                                <img class="mh-20px w-100p" src="~/lib/images/caucasion.jpg" />
                            }
                            @a.Notes</a></th>
                        <th class="mw-170px">@a.DateCreated</th>
                        <th class="mw-50p">
                            <a href="#" class="inactive" data-toggle="modal" data-target="#newInteraction">
                                @if (a.NextStep != null)
                                {
                                    @a.NextStep
                                }
                                else
                                {
                                    <img class="mh-20px w-100p" src="~/lib/images/caucasion.jpg" />
                                }
                            </a>
                        </th>
                        <th class="mw-170px">
                            @ViewBag.BrokerName
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Html.ActionLink("New Interaction", "AddInteraction", "Interactions", new { BrokerID = Model.Broker.BrokerID })
@Html.Partial("_AddInteractionModal", Model.NewInteraction)
<style>
    table, tr, th {
        border: 1px solid black;
    }
</style>
