@model KWFCI.Models.ViewModels.AdminVM

    @{
        ViewBag.Title = "AdminHome";
    }

    <div class="row">
        <div class="adminBtns clearfix">
            <div class="col-xs-4 center-block">
                @Html.Partial("Modals/_AdminAddStaff", Model)
            </div>
            <div class="col-xs-4 center-block">
                    <input type="hidden" name="Page" value="Staff" />
                    <button class="btn btn-sm btn-danger center-block" type="button"  
                            onclick="location.href='@Url.Action("Staff", "Admin")'">
                        <span>Staff</span>
                    </button>
            </div>
            <div class="col-xs-4 center-block">
                <button class="btn btn-sm btn-danger center-block" type="button"
                        onclick="location.href='@Url.Action("Interactions", "Admin")'">
                    <span>Interactions</span>
                </button>
            </div>
        </div>
    </div>

    <div>
        @if (ViewBag.Page == "Staff")
        {
            @Html.Partial("AdminStaff");
        }
        @if (ViewBag.Page == "Interactions")
        {
            @Html.Partial("AdminInteractions");
        }
    </div>