@model KWFCI.Models.ViewModels.HomeVM
<div class="row">
    <div class="col-xs-12" style="text-align:center;">

        <h1 >Welcome @ViewBag.Name</h1>
    </div>
</div>

@if (ViewBag.Alerts != null)
{
    if (ViewBag.Alerts.Count > 0)
    {
        <div class="row">
            <div class="col-xs-12" style="text-align:center;">
                <h3><a href="@Url.Action("AllKWTasks", "KWTasks", new { filter = "Alert" })">You have @ViewBag.Alerts.Count Alerts</a></h3>
            </div>
        </div>
    }
}

<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-5" style="text-align:center;">
        <div style="width:95%;"><h2><a href="/Tasks?filter=@ViewBag.Name">My Tasks</a></h2></div>
    </div>
    <div class="col-xs-5" style="text-align:center;">
        <div class="pull-right" style="width:95%;"><h2><a href="/Tasks">All Tasks</a></h2></div>
    </div>
    <div class="col-xs-1"></div>
</div>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-5" style="max-height:500px;">
        <div style="width:95%;height:100%;">
            @Html.Partial("_HomePageTasks", Model.PersonalTasks);
        </div>
    </div>
    
    <div class="col-xs-5" style="max-height:500px;">
        <div style="width:95%;height:100%;float:right;">
            @Html.Partial("_HomePageTasks", Model.GlobalTasks);
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>
<div class="row" style="margin-top:30px;">
    <div class="col-xs-12" style="text-align:center;" >
        <h1 class="center-block">Useful Shortcuts</h1>
    </div>
</div>
    <div class="row" style="margin-top:30px;">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
                    <div style="float:none;display:flex;justify-content:space-between;">
                        <a href="/Brokers" class="btn btn-success btn-lg" style="height:100%;width:20%;">
                            View Brokers
                        </a>
                        <button class="btn btn-success  btn-lg" style="height:100%;width:20%;">
                            Add Broker
                        </button>
                        <button class="btn btn-success  btn-lg" style="height:100%;width:20%;">
                            Create Task
                        </button>
                        <a href="/Settings" class="btn btn-success  btn-lg" style="height:100%;width:20%;">
                            My Settings 
                        </a>
                    </div>
                </div>
                <div class="col-xs-1"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:50px;text-align:center;">
        <h2>My Interactions</h2>
    </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-xs-10 col-xs-offset-1" style="height:500px;">
            @Html.Partial("_StaffInteractions", Model.PersonalInteractions)
        </div>
    </div>

