@model KWFCI.Models.ViewModels.KWTaskVM

@{ ViewBag.Title = "Tasks";  }

@if (ViewBag.Filter != "" || ViewBag.Filter != null)
{
    <div class="hidden filter">@ViewBag.Filter</div> @*Grabbing this with JS*@
}


@functions{

    public string GetStaffProfileName(KWTask task, List<StaffProfile> staff)
    {
        string name = "";
        foreach (StaffProfile sp in staff)
        {
            if (sp.Tasks.Contains(task))
            {
                name = sp.FirstName + " " + sp.LastName;
                return name;
            }
        }
        return name;
    }

}

<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered editTable">
            <thead>
                <tr>
                    <th>Edit Task</th>
                    <th>Date Created</th>
                    <th>Task Type</th>
                    <th>Date Due</th>
                    <th>Message</th>
                    <th>Alert Date</th>
                    <th>Priority</th>
                    <th>Assigned To:</th>
                    <th>Delete Task</th>
                </tr>
            </thead>
            <tbody >
                @foreach (KWTask t in Model.KWTasks)
                {
                    <tr>
                        <td>
                            <div class="col-xs-12 " style="height:100%;">
                                <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#editKWTaskModal"
                                   data-id="@t.KWTaskID">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="vertical-align:unset;"></span>
                                </button>
                            </div>
                            <input type="hidden" class="view-TaskAlertDate" value="@t.AlertDate" />
                            <input type="hidden" class="view-TaskDateDue" value="@t.DateDue" />
                            <input type="hidden" class="view-TaskMessage" value="@t.Message" />
                            <input type="hidden" class="view-TaskPriority" value="@t.Priority" />
                            <input type="hidden" class="view-TaskKWTaskID" value="@t.KWTaskID" />
                        </td>

                        <td>
                            @t.DateCreated
                        </td>
                        <td>@t.Type</td>
                        <td>
                            @{
                                //Remove the time from the display
                                string[] splitDateDue = t.DateDue.ToString().Split(' ');
                                string dateDue = splitDateDue[0];

                                @dateDue
                            }
                        </td>
                        <td>@t.Message</td>
                        <td>
                        @{
                            //Remove the time from the display
                            string[] splitAlertDate = t.AlertDate.ToString().Split(' ');
                            string alertDate = splitAlertDate[0];

                            @alertDate
                        }
                        </td>
                        <td>
                            @if(t.Priority == 5)
                            {
                                @:Critical
                            }
                            else
                            {
                                @t.Priority
                            }
                        </td>
                        <td>
                            @{var activeName = GetStaffProfileName(t, Model.StaffList);}
                            
                            <div class="dropdown" style="height:100%;width:100%;">
                                <button class="btn btn-default dropdown-toggle assign-staff-task" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" value="@activeName" data-id="@t.KWTaskID" style="width:100%;">
                                    <div class="row">
                                        @if (activeName == "")
                                        {
                                            @:<div class="col-xs-9"></div>
                                        }
                                        else
                                        {
                                            @:<div class="col-xs-9" style="text-align:left;"><span>@activeName</span></div>
                                        }
                                        <div class="col-xs-3" style="height:100%;"><span class="caret"></span></div>
                                    </div>
                                </button>
                                <ul class="dropdown-menu">
                                    @if (activeName != "")
                                    {
                                        <li class="col-xs-12" value="Clear"><a href="#" >Clear</a></li>
                                    }
                                    @foreach (StaffProfile staff in Model.StaffList)
                                    {
                                        string currentName = staff.FirstName + " " + staff.LastName;
                                        if (currentName != activeName)
                                        {
                                            <li class="col-xs-12" value="@currentName"><a href="#">@currentName</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@t.KWTaskID" method="post">
                                <button type="submit"
                                        class="btn btn-md btn-danger center-block">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true" style="vertical-align:unset;"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-sm btn-success kwAddButton" type="button" style="margin-top:10px;"
                data-target="#addKWTaskModal" data-toggle="modal">
            <span>New Task</span>
        </button>
        @Html.Partial("Modals/_AddKWTaskModal", Model)
        @Html.Partial("Modals/_EditKWTaskModal", Model)
    </div>
</div>

<form class="hidden" asp-action="Assign" asp-controller="Tasks" id="assignStaffForm" method="post">
    <!--Value is populated with jQuery based on what value was entered into the date box-->
    <input type="hidden" class="addTaskID" name="KWTaskID" value="" />
    <input type="hidden" class="addStaffProfileID" name="StaffProfileName" value="" />
    
    <!--Triggered with jQuery-->
    <button type="submit" class="hidden submitButton"></button>
</form>

<style>
    table {
        border: none;
    }
</style>