@model List<Broker>

@{ 
    ViewBag.Title = "Brokers";
}

<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>Name</th>
                    <th>Interactions</th>
                    <th>Email</th>
                    <th>Type</th>
                    <th>Archive</th>


                    
                </tr>
            </thead>
            <tbody>
                @foreach (Broker b in Model)
                {
                    <tr>

                        <td>
                            <a class="btn btn-primary btn-md" asp-action="Edit"
                               asp-route-id="@b.BrokerID"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        </td>

                            <td><a 
                                href="@Url.Action("BrokerInteractions", "Interactions", b)">
                             @b.FirstName @b.LastName
                            </a></td>
                        <td>@b.Interactions.Count/10</td>

                        <td>@b.Email</td>
                        <td>@b.Type</td>
                        <td>
                            <form asp-action="Archive" asp-route-id="@b.BrokerID" method="post">
                                <button type="submit"
                                        class="btn btn-sm btn-danger center-block">
                                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                                </button>
                            </form>



                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    table, tr, th{
        border: 1px solid black;
    }
</style>