@model List<Broker>

@{ 
    ViewBag.Title = "Brokers";
}

<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Type</th>

                    
                </tr>
            </thead>
            <tbody>
                @foreach (Broker b in Model)
                {
                    <tr>
                            <td><a 
                                href="@Url.Action("BrokerInteractions", "Interactions", b)">
                             @b.FirstName @b.LastName
                            </a></td>
                        <td>@b.Email</td>
                        <td>@b.Type</td>
                        <td>
                            <form asp-action="Archive" asp-route-id="@b.BrokerID" method="post">
                                <a class="btn btn-sm btn-primary" asp-action="Edit"
                                   asp-route-id="@b.BrokerID">Edit</a>
                                <button type="submit"
                                        class="btn btn-sm btn-danger">
                                    Archive
                                </button>
                            </form>



                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    table, tr, th{
        border: 1px solid black;
    }
</style>