@model KWFCI.Models.ViewModels.AlertVM

@{
    ViewBag.Title = "Alerts";
}

<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Priority</th>
                    <th>Date</th>
                    <th>Message</th>

                </tr>
            </thead>
            <tbody>
                @foreach (Alert a in Model.Alerts)
                {
                    <tr>
                        <th>@a.Priority</th>
                        <th>@a.AlertDate</th>
                        <th>@a.Message</th>
                        <th>
                            <form asp-action="Delete" asp-route-id="@a.AlertID" method="post">
                                <a class="btn btn-sm btn-primary" asp-action="Edit"
                                   asp-route-id="@a.AlertID">Edit</a>
                                <button type="submit"
                                        class="btn btn-sm btn-danger">
                                    Delete
                                </button>
                            </form>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Html.Partial("_AddAlertModal", Model)

<style>
    table, tr, th {
        border: 1px solid black;
    }
</style>